docs/MSVS/Gebe Psikososyal İzlem/POCD_MT000209TR01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000209TR01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  
*  Bu xml şema içerisindeki veri türleri USBS projesi çerçevesinde
*  hazırlanan tool ile sabitlenmiştir.
*
*  USBS XSD Düzenleyici v1.0
* 
*  Vestel Birim Datasel Ortaklığı
********************************************************************************************************************
		-->
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
	<xs:include schemaLocation="../coreschemas/USBSVoc.xsd"/>
	<xs:complexType name="POCD_MT000209TR01.AssignedAuthor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.1"/>
							<xs:attribute name="extension" type="st-tckimlik" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.AssignedCustodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedHealthcareOrganization" type="POCD_MT000209TR01.HealthcareOrganization" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Author1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="time" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="assignedAuthor" type="POCD_MT000209TR01.AssignedAuthor" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Author2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="time" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="doctor" type="POCD_MT000209TR01.Doctor" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="structuredBody" type="POCD_MT000209TR01.StructuredBody" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component10">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="risksAtBrainProgress" type="POCD_MT000209TR01.RisksAtBrainProgress" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="pregnantPsychoObsDataset" type="POCD_MT000209TR01.PregnantPsychoObsDataset" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="followForRiskyCaseSection" type="POCD_MT000209TR01.FollowForRiskyCaseSection" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="followForRiskyCase" type="POCD_MT000209TR01.FollowForRiskyCase" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component5">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="proceduresForRiskFactorsSection" type="POCD_MT000209TR01.ProceduresForRiskFactorsSection" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component6">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="proceduresForRiskFactors" type="POCD_MT000209TR01.ProceduresForRiskFactors" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component7">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="trainingForPsychoRisksSection" type="POCD_MT000209TR01.TrainingForPsychoRisksSection" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component8">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="trainingForPsychoRisks" type="POCD_MT000209TR01.TrainingForPsychoRisks" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Component9">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="risksAtBrainProgressSection" type="POCD_MT000209TR01.RisksAtBrainProgressSection" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Custodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedCustodian" type="POCD_MT000209TR01.AssignedCustodian" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Doctor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.1"/>
							<xs:attribute name="extension" type="st-tckimlik" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.FollowForRiskyCase">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.69"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Risk Altındaki Olgunun Takibi"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.FollowForRiskyCaseSection">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.5"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="RISKALTINDAKIOLGUNUNTAKIBI"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.3"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veri Kısmı"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Risk Altındaki Olgunun Takibi Bilgisinin Olduğu Bölüm"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="POCD_MT000209TR01.Component4" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.HealthcareOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.6"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ENT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.MinisteryOfHealth">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.6"/>
							<xs:attribute name="extension" type="st" use="required" fixed="5881"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.ParentDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.3"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="USBS_DokumanTipi_code" use="required" fixed="GEBEPSIKOSOSYALIZLEM"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.1"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Döküman Tipi"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="USBS_DokumanTipi_displayName" use="required" fixed="Gebe Psikososyal İzlem MSVS (Vatandaş/Yabancı)"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="versionNumber" type="INT" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Patient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--
					USBS projesi çerçevesinde kullanılan PersonName türü için prefix, suffix ve delimiter kullanımına izin verilmemektedir
					PN alanı sadece ad, ikinci ad ve soyadı alacak hale çevirildi.
				-->
			<xs:element name="name" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="PN">
							<xs:sequence>
								<xs:choice minOccurs="2" maxOccurs="2">
									<xs:element name="family" type="en.family" minOccurs="1" maxOccurs="1"/>
									<xs:element name="given" type="en.given" minOccurs="1" maxOccurs="1"/>
								</xs:choice>
								<xs:element name="validTime" type="IVL_TS" minOccurs="0"/>
							</xs:sequence>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="administrativeGenderCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.85"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Cinsiyet (Resmi)"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="birthTime" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="raceCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.52"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Uyruk"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.PatientRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.1"/>
							<xs:attribute name="extension" type="st-tckimlik" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="patient" type="POCD_MT000209TR01.Patient" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.PregnantPsychoObsDataset">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.4"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="GEBEPSIKOSOSYALIZLEM"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.2"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veriseti"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Gebe Psikososyal İzlem Bildirimi Veriseti"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="author" type="POCD_MT000209TR01.Author2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component1" type="POCD_MT000209TR01.Component3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="component2" type="POCD_MT000209TR01.Component5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="component3" type="POCD_MT000209TR01.Component7" minOccurs="0" maxOccurs="1"/>
			<xs:element name="component4" type="POCD_MT000209TR01.Component9" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.PregnantPsychoObservation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.3"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="USBS_DokumanTipi_code" use="required" fixed="GEBEPSIKOSOSYALIZLEM"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.1"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Döküman Tipi"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="USBS_DokumanTipi_displayName" use="required" fixed="Gebe Psikososyal İzlem MSVS (Vatandaş/Yabancı)"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="confidentialityCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.77"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Gizlilik"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : languageCode alanı üzerinde kısıtlamalar yapıldı-->
			<xs:element name="languageCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="tr-TR"/>
							<xs:attribute name="codeSystem" type="uid" use="prohibited"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="displayName" type="st" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : versionNumber alanı üzerinde kısıtlamalar yapıldı-->
			<xs:element name="versionNumber" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="INT">
							<xs:attribute name="value" type="int" use="required" fixed="1"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="recordTarget" type="POCD_MT000209TR01.RecordTarget" minOccurs="1" maxOccurs="1"/>
			<xs:element name="author" type="POCD_MT000209TR01.Author1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="custodian" type="POCD_MT000209TR01.Custodian" minOccurs="1" maxOccurs="1"/>
			<xs:element name="primaryInformationRecipient" type="POCD_MT000209TR01.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
			<xs:element name="replacementOf" type="POCD_MT000209TR01.ReplacementOf" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="POCD_MT000209TR01.Component1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.PrimaryInformationRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="recipient" type="POCD_MT000209TR01.Recipient" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRCP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.ProceduresForRiskFactors">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.67"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Risk Faktörlerine Yönelik Müdehale"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.ProceduresForRiskFactorsSection">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.5"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="RISKFAKTORLERINEYONELIKMUDAHALE"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.3"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veri Kısmı"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Risk Faktörlerine Yönelik Müdahale Bilgisinin Olduğu Bölüm"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="POCD_MT000209TR01.Component6" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.Recipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedMinisteryOfHealth" type="POCD_MT000209TR01.MinisteryOfHealth" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patientRole" type="POCD_MT000209TR01.PatientRole" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.ReplacementOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="parentDocument" type="POCD_MT000209TR01.ParentDocument" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RPLC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.RisksAtBrainProgress">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.65"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Beyin Gelişimini Etkileyen Riskler"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.RisksAtBrainProgressSection">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.5"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="BEYINGELISIMINIETKILEYENRISKLER"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.3"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veri Kısmı"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Beyin Gelişimini Etkileyen Riskler Bilgisinin Olduğu Bölüm"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="POCD_MT000209TR01.Component10" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.StructuredBody">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="component" type="POCD_MT000209TR01.Component2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCBODY"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.TrainingForPsychoRisks">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.66"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Risklere Yönelik Eğitimler"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000209TR01.TrainingForPsychoRisksSection">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.5"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="RISKLEREYONELIKEGITIMLER"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.3"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veri Kısmı"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Risklere Yönelik Eğitim Bilgisinin Olduğu Bölüm"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="POCD_MT000209TR01.Component8" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
</xs:schema>