src/Web References/WSGebelikSonucu/POCD_MT000010TR01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd" />
  <xs:include schemaLocation="../coreschemas/USBSVoc.xsd" />
  <xs:complexType name="POCD_MT000010TR01.AssignedAuthor">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.1" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st-tckimlik" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.AssignedCustodian">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="representedHealthcareOrganization" type="POCD_MT000010TR01.HealthcareOrganization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Author1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="time">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="assignedAuthor" type="POCD_MT000010TR01.AssignedAuthor" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="optional" />
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Author2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="time">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="doctor" type="POCD_MT000010TR01.Doctor" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="optional" />
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.BabyNumberSection">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="BEBEKSAYISI" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.3" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veri Kısmı" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Bebek Sayısı Bilgilerinin Olduğu Bölüm" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="component1" type="POCD_MT000010TR01.Component8" />
      <xs:element minOccurs="1" maxOccurs="1" name="component2" type="POCD_MT000010TR01.Component9" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.BirthHelper">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.39" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Doğuma Yardım Eden" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.BirthMethod">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.34" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Doğum Yöntemi" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="performer" type="POCD_MT000010TR01.Performer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ACT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.BirthMethodSection">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="DOGUMYONTEMI" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.3" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veri Kısmı" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Doğum Yöntemi Bilgisinin Olduğu Bölüm" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000010TR01.Component6" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="structuredBody" type="POCD_MT000010TR01.StructuredBody" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component10">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="pregnancyResultSection" type="POCD_MT000010TR01.PregnancyResultSection" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component11">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="POCD_MT000010TR01.Result" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component12">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastMenstruationDateSection" type="POCD_MT000010TR01.LastMenstruationDateSection" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component13">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastMenstruationDate" type="POCD_MT000010TR01.LastMenstruationDate" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component14">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="pregnancyEndDateSection" type="POCD_MT000010TR01.PregnancyEndDateSection" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component15">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="pregnancyEndDate" type="POCD_MT000010TR01.PregnancyEndDate" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component16">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="pregnancyNumberSection" type="POCD_MT000010TR01.PregnancyNumberSection" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component17">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="pregnancyNumber" type="POCD_MT000010TR01.PregnancyNumber" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="pregnancyResultDataset" type="POCD_MT000010TR01.PregnancyResultDataset" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="placeOfBirthSection" type="POCD_MT000010TR01.PlaceOfBirthSection" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component4">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="placeOfBirth" type="POCD_MT000010TR01.PlaceOfBirth" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component5">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="birthMethodSection" type="POCD_MT000010TR01.BirthMethodSection" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component6">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="birthMethod" type="POCD_MT000010TR01.BirthMethod" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component7">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="babyNumberSection" type="POCD_MT000010TR01.BabyNumberSection" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component8">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="liveBirthNumber" type="POCD_MT000010TR01.LiveBirthNumber" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Component9">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="stillbirthNumber" type="POCD_MT000010TR01.StillbirthNumber" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Custodian">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedCustodian" type="POCD_MT000010TR01.AssignedCustodian" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="CST" name="typeCode" type="ParticipationType" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Doctor">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="2" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.HealthcareOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.6" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ENT" name="classCode" type="EntityClass" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.LastMenstruationDate">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ACT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.LastMenstruationDateSection">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="SONADETTARIHI" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.3" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veri Kısmı" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Son Adet Tarihi Bilgisinin Olduğu Bölüm" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000010TR01.Component13" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.LiveBirthNumber">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="INT" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="OBS" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.MinisteryOfHealth">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.6" name="root" type="uid" use="required" />
              <xs:attribute fixed="5881" name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ORG" name="classCode" type="EntityClass" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Patient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="PN">
              <xs:sequence>
                <xs:choice minOccurs="2" maxOccurs="2">
                  <xs:element minOccurs="1" maxOccurs="1" name="family" type="en.family" />
                  <xs:element minOccurs="1" maxOccurs="1" name="given" type="en.given" />
                </xs:choice>
                <xs:element minOccurs="0" name="validTime" type="IVL_TS" />
              </xs:sequence>
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="administrativeGenderCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.85" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Cinsiyet (Resmi)" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="birthTime">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="raceCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.52" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Uyruk" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PatientRole">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.1" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st-tckimlik" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="patient" type="POCD_MT000010TR01.Patient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="PAT" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Performer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="birthHelper" type="POCD_MT000010TR01.BirthHelper" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="PRF" name="typeCode" type="ParticipationType" use="optional" />
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PlaceOfBirth">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.35" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Doğum Gerçekleştiği Yer" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ACT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PlaceOfBirthSection">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="DOGUMUNGERCEKLESTIGIYER" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.3" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veri Kısmı" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Doğumun Gerçekleştiği Yer Bilgisinin Olduğu Bölüm" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000010TR01.Component4" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PregnancyEndDate">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="OBS" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PregnancyEndDateSection">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="GEBELIKSONLANMATARIHI" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.3" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veri Kısmı" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Gebelik Sonlanma Tarihi Bilgisinin Olduğu Bölüm" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000010TR01.Component15" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PregnancyNumber">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="INT" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="OBS" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PregnancyNumberSection">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="KACINCIGEBELIK" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.3" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veri Kısmı" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Kaçıncı Gebelik Bilgisinin Olduğu Bölüm" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000010TR01.Component17" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PregnancyResult">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.3" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="GEBELIKSONUCU" name="code" type="USBS_DokumanTipi_code" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.1" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Döküman Tipi" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Gebelik Sonucu MSVS (Vatandaş/Yabancı)" name="displayName" type="USBS_DokumanTipi_displayName" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="confidentialityCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.77" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Gizlilik" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="languageCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="tr-TR" name="code" type="cs" use="required" />
              <xs:attribute name="codeSystem" type="uid" use="prohibited" />
              <xs:attribute name="codeSystemName" type="st" use="prohibited" />
              <xs:attribute name="codeSystemVersion" type="st" use="prohibited" />
              <xs:attribute name="displayName" type="st" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="versionNumber">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="INT">
              <xs:attribute fixed="1" name="value" type="int" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="recordTarget" type="POCD_MT000010TR01.RecordTarget" />
      <xs:element minOccurs="1" maxOccurs="1" name="author" type="POCD_MT000010TR01.Author1" />
      <xs:element minOccurs="1" maxOccurs="1" name="custodian" type="POCD_MT000010TR01.Custodian" />
      <xs:element minOccurs="1" maxOccurs="1" name="primaryInformationRecipient" type="POCD_MT000010TR01.PrimaryInformationRecipient" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000010TR01.Component1" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCCLIN" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PregnancyResultDataset">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.4" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="GEBELIKSONUCU" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.2" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veriseti" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Gebelik Sonucu Veriseti" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="author" type="POCD_MT000010TR01.Author2" />
      <xs:element minOccurs="1" maxOccurs="1" name="component1" type="POCD_MT000010TR01.Component16" />
      <xs:element minOccurs="1" maxOccurs="1" name="component2" type="POCD_MT000010TR01.Component3" />
      <xs:element minOccurs="0" maxOccurs="1" name="component3" type="POCD_MT000010TR01.Component5" />
      <xs:element minOccurs="1" maxOccurs="1" name="component4" type="POCD_MT000010TR01.Component7" />
      <xs:element minOccurs="1" maxOccurs="1" name="component5" type="POCD_MT000010TR01.Component10" />
      <xs:element minOccurs="1" maxOccurs="1" name="component6" type="POCD_MT000010TR01.Component12" />
      <xs:element minOccurs="1" maxOccurs="1" name="component7" type="POCD_MT000010TR01.Component14" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PregnancyResultSection">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="GEBELIKSONUCU" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.3" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veri Kısmı" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Gebelik Sonucu Bilgisinin Olduğu Bölüm" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000010TR01.Component11" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.PrimaryInformationRecipient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="recipient" type="POCD_MT000010TR01.Recipient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="PRCP" name="typeCode" type="ParticipationType" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Recipient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="representedMinisteryOfHealth" type="POCD_MT000010TR01.MinisteryOfHealth" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.RecordTarget">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="patientRole" type="POCD_MT000010TR01.PatientRole" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="RCT" name="typeCode" type="ParticipationType" use="optional" />
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.Result">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.40" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Gebelik Sonucu" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ACT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.StillbirthNumber">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="INT" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="OBS" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000010TR01.StructuredBody">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000010TR01.Component2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCBODY" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
</xs:schema>