src/Web References/WSKanser/MCCI_AR000001TR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsa="http://www.w3.org/2005/03/addressing" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:hl7="urn:hl7-org:v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MCCI_AR000001TR" targetNamespace="urn:hl7-org:v3" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>Kanser</documentation>
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
      <xsd:include schemaLocation="MCCI_IN000001TR01.xsd" />
      <xsd:include schemaLocation="MCCI_IN000002TR01.xsd" />
      <xsd:include schemaLocation="MCCI_IN000003TR01.xsd" />
      <xsd:include schemaLocation="MCCI_IN000004TR01.xsd" />
      <xsd:include schemaLocation="QUQI_IN000001TR01.xsd" />
      <xsd:include schemaLocation="QUQI_IN000002TR01.xsd" />
      <xsd:element name="MCCI_IN000001TR01" type="hl7:MCCI_IN000001TR01.Message" />
      <xsd:element name="MCCI_IN000002TR01" type="hl7:MCCI_IN000002TR01.Message" />
      <xsd:element name="MCCI_IN000003TR01" type="hl7:MCCI_IN000003TR01.Message" />
      <xsd:element name="MCCI_IN000004TR01" type="hl7:MCCI_IN000004TR01.Message" />
      <xsd:element name="QUQI_IN000001TR01" type="hl7:QUQI_IN000001TR01.Message" />
      <xsd:element name="QUQI_IN000002TR01" type="hl7:QUQI_IN000002TR01.Message" />
    </xsd:schema>
  </types>
  <message name="MCCI_IN000001TR01_Message">
    <part name="Body" element="hl7:MCCI_IN000001TR01" />
  </message>
  <message name="MCCI_IN000002TR01_Message">
    <part name="Body" element="hl7:MCCI_IN000002TR01" />
  </message>
  <message name="MCCI_IN000003TR01_Message">
    <part name="Body" element="hl7:MCCI_IN000003TR01" />
  </message>
  <message name="MCCI_IN000004TR01_Message">
    <part name="Body" element="hl7:MCCI_IN000004TR01" />
  </message>
  <message name="QUQI_IN000001TR01_Message">
    <part name="Body" element="hl7:QUQI_IN000001TR01" />
  </message>
  <message name="QUQI_IN000002TR01_Message">
    <part name="Body" element="hl7:QUQI_IN000002TR01" />
  </message>
  <portType name="MCCI_AR000001TR_PortType">
    <operation name="MCCI_AR000001TR_MCCI_IN000001TR">
      <input wsa:Action="urn:hl7-org:v3:MCCI_IN000001TR01" message="hl7:MCCI_IN000001TR01_Message" />
      <output wsa:Action="urn:hl7-org:v3:MCCI_IN000002TR01" message="hl7:MCCI_IN000002TR01_Message" />
    </operation>
    <operation name="MCCI_AR000001TR_MCCI_IN000003TR">
      <input wsa:Action="urn:hl7-org:v3:MCCI_IN000003TR01" message="hl7:MCCI_IN000003TR01_Message" />
      <output wsa:Action="urn:hl7-org:v3:MCCI_IN000002TR01" message="hl7:MCCI_IN000002TR01_Message" />
    </operation>
    <operation name="MCCI_AR000001TR_MCCI_IN000004TR">
      <input wsa:Action="urn:hl7-org:v3:MCCI_IN000004TR01" message="hl7:MCCI_IN000004TR01_Message" />
      <output wsa:Action="urn:hl7-org:v3:MCCI_IN000002TR01" message="hl7:MCCI_IN000002TR01_Message" />
    </operation>
    <operation name="MCCI_AR000001TR_QUQI_IN000001TR">
      <input wsa:Action="urn:hl7-org:v3:QUQI_IN000001TR01" message="hl7:QUQI_IN000001TR01_Message" />
      <output wsa:Action="urn:hl7-org:v3:QUQI_IN000002TR01" message="hl7:QUQI_IN000002TR01_Message" />
    </operation>
  </portType>
  <binding name="MCCI_AR000001TR_Binding" type="hl7:MCCI_AR000001TR_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="MCCI_AR000001TR_MCCI_IN000001TR">
      <soap:operation soapAction="urn:hl7-org:v3:MCCI_IN000001TR01" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MCCI_AR000001TR_MCCI_IN000003TR">
      <soap:operation soapAction="urn:hl7-org:v3:MCCI_IN000003TR01" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MCCI_AR000001TR_MCCI_IN000004TR">
      <soap:operation soapAction="urn:hl7-org:v3:MCCI_IN000004TR01" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MCCI_AR000001TR_QUQI_IN000001TR">
      <soap:operation soapAction="urn:hl7-org:v3:QUQI_IN000001TR01" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MCCI_AR000001TR_Service">
    <port name="MCCI_AR000001TR_Port" binding="hl7:MCCI_AR000001TR_Binding">
      <soap:address location="http://ws.sagliknet.saglik.gov.tr/Kanser/services/MCCI_AR000001TR_Service" />
      <wsa:EndpointReference>
        <wsa:Address>http://ws.sagliknet.saglik.gov.tr/Kanser/services/MCCI_AR000001TR_Service</wsa:Address>
      </wsa:EndpointReference>
    </port>
  </service>
</definitions>