docs/MSVS/Kanser/MCCI_IN000003TR01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type MCCI_IN000003TR01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
*
*  Bu xml şema içerisindeki veri türleri USBS projesi çerçevesinde
*  hazırlanan tool ile sabitlenmiştir.
*
*  USBS XSD Düzenleyici v1.0
* 
*  Vestel Birim Datasel Ortaklığı
********************************************************************************************************************
-->
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../coreschemas/USBSVoc.xsd"/>
	<xs:include schemaLocation="POCD_MT000225TR01.xsd"/>
	<xs:complexType name="MCCI_IN000003TR01.ControlActEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="subject" type="MCCI_IN000003TR01.Subject" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN000003TR01.Device">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.5"/>
							<xs:attribute name="extension" type="st-device" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="DEV"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN000003TR01.Device2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.5"/>
							<xs:attribute name="extension" type="st-device" use="required" fixed="USBS"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="DEV"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN000003TR01.Message">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.2"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="creationTime">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="responseModeCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CS">
							<xs:attribute name="code" type="cs" use="required" fixed="Q"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="interactionId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.1"/>
							<xs:attribute name="extension" type="st" use="required" fixed="MCCI_IN000003TR01"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="processingCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CS">
							<xs:attribute name="code" use="required">
								<xs:simpleType>
									<xs:restriction base="ProcessingID">
										<xs:enumeration value="P"/>
										<xs:enumeration value="T"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="processingModeCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CS">
							<xs:attribute name="code" type="cs" use="required" fixed="T"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="acceptAckCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CS">
							<xs:attribute name="code" type="cs" use="required" fixed="AL"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="receiver" type="MCCI_IN000003TR01.Receiver" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sender" type="MCCI_IN000003TR01.Sender" minOccurs="1" maxOccurs="1"/>
			<xs:element name="controlActEvent" type="MCCI_IN000003TR01.ControlActEvent" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="MCCI_IN000003TR01.Receiver">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="device" type="MCCI_IN000003TR01.Device2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="required" fixed="RCV"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN000003TR01.Sender">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="device" type="MCCI_IN000003TR01.Device" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="required" fixed="SND"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN000003TR01.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="cancer" type="POCD_MT000225TR01.Cancer" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
	</xs:complexType>
</xs:schema>