src/Web References/WSDogumBildirim/QUQI_IN000002TR01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="../coreschemas/USBSVoc.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.4. Stylesheets: StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="QUQI_IN000002TR01.Acknowledgement">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="typeCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="acknowledgementDetail" type="QUQI_IN000002TR01.AcknowledgementDetail" />
      <xs:element minOccurs="1" maxOccurs="1" name="message" type="QUQI_IN000002TR01.Message2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.AcknowledgementDetail">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.5" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Sistem Hatas??" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.ControlActEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reason" type="QUQI_IN000002TR01.Reason" />
      <xs:element minOccurs="1" maxOccurs="1" name="queryAck" type="QUQI_IN000002TR01.QueryAck" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="CACT" name="classCode" type="ActClassControlAct" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.DetectedIssueEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.4" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Uygulama Hatas??" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ALRT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.Device">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.5" name="root" type="uid" use="required" />
              <xs:attribute fixed="USBS" name="extension" type="st-device" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DEV" name="classCode" type="EntityClassDevice" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.Device2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DEV" name="classCode" type="EntityClassDevice" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.Message">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.2" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="creationTime">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="interactionId">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.1" name="root" type="uid" use="required" />
              <xs:attribute fixed="QUQI_IN000002TR01" name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="processingCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CS">
              <xs:attribute name="code" use="required">
                <xs:simpleType>
                  <xs:restriction base="ProcessingID">
                    <xs:enumeration value="P" />
                    <xs:enumeration value="T" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="processingModeCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CS">
              <xs:attribute fixed="T" name="code" type="cs" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="acceptAckCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CS">
              <xs:attribute fixed="NE" name="code" type="cs" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver" type="QUQI_IN000002TR01.Receiver" />
      <xs:element minOccurs="1" maxOccurs="1" name="sender" type="QUQI_IN000002TR01.Sender" />
      <xs:element minOccurs="1" maxOccurs="1" name="acknowledgement" type="QUQI_IN000002TR01.Acknowledgement" />
      <xs:element minOccurs="1" maxOccurs="1" name="controlActEvent" type="QUQI_IN000002TR01.ControlActEvent" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.Message2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.2" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.QueryAck">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="queryResponseCode" type="CS" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.Reason">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="detectedIssueEvent" type="QUQI_IN000002TR01.DetectedIssueEvent" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="RSON" name="typeCode" type="ActRelationshipReason" use="required" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.Receiver">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="device" type="QUQI_IN000002TR01.Device2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="RCV" name="typeCode" type="CommunicationFunctionType" use="required" />
  </xs:complexType>
  <xs:complexType name="QUQI_IN000002TR01.Sender">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="device" type="QUQI_IN000002TR01.Device" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="SND" name="typeCode" type="CommunicationFunctionType" use="required" />
  </xs:complexType>
</xs:schema>