src/Web References/WSDiyalizIzlem/infrastructureRoot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mif="urn:hl7-org:v3/mif" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/datatypes.xsd" />
  <xs:include schemaLocation="../coreschemas/voc.xsd" />
  <xs:annotation xmlns="urn:hl7-org:v3">
    <xs:documentation>Source Information
     Rendered by: RoseTree 3.0.9
     Rendered on: 11/6/2005 T16:34:54
This model was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 Transform: $RCSfile: RoseTreeRimToMIFStaticModel.xsl,v $ $Revision: 1.4 $ $Date: 2005/04/17 03:20:15 $
 Generated using schema builder version: 2.0
 RIM MIF Infrastructure Root to Schema Transform: $Id: RimInfrastructureRootToXsd.xsl,v 1.2 2005/05/24 00:10:36 lmckenzi Exp $
  Static MIF to Schema Transform: $Id: StaticMifToXsd.xsl,v 1.25 2005/07/09 20:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $</xs:documentation>
  </xs:annotation>
  <xs:complexType xmlns="urn:hl7-org:v3" name="all.InfrastructureRoot.typeId">
    <xs:complexContent mixed="false">
      <xs:restriction base="II">
        <xs:attribute fixed="2.16.840.1.113883.1.3" name="root" type="uid" use="required" />
        <xs:attribute name="extension" type="st" use="required" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType xmlns="urn:hl7-org:v3" name="all.InfrastructureRoot.templateId">
    <xs:complexContent mixed="false">
      <xs:extension base="II">
        <xs:attribute default="false" name="unsorted" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="InfrastructureRootElements">
    <xs:sequence>
      <xs:element xmlns="urn:hl7-org:v3" minOccurs="0" maxOccurs="unbounded" name="realmCode" type="CS" />
      <xs:element xmlns="urn:hl7-org:v3" minOccurs="0" maxOccurs="1" name="typeId" type="all.InfrastructureRoot.typeId" />
      <xs:element xmlns="urn:hl7-org:v3" minOccurs="0" maxOccurs="unbounded" name="templateId" type="all.InfrastructureRoot.templateId" />
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="InfrastructureRootAttributes">
    <xs:attribute xmlns="urn:hl7-org:v3" name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:attributeGroup>
</xs:schema>