docs/MSVS/Bebek,Çocuk Beslenme/MCCI_AR000001TR01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsa="http://www.w3.org/2005/03/addressing"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:hl7="urn:hl7-org:v3"
             name="MCCI_AR000001TR"
             targetNamespace="urn:hl7-org:v3">
	  <documentation>Bebek/Çocuk Beslenme</documentation>
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
			<xsd:include schemaLocation="MCCI_IN000001TR01.xsd"/>
			<xsd:include schemaLocation="MCCI_IN000002TR01.xsd"/>
			<xsd:include schemaLocation="MCCI_IN000003TR01.xsd"/>
			<xsd:include schemaLocation="QUQI_IN000001TR01.xsd"/>
			<xsd:include schemaLocation="QUQI_IN000002TR01.xsd"/>
			
			<xsd:element name="MCCI_IN000001TR01" type="hl7:MCCI_IN000001TR01.Message"/>
			<xsd:element name="MCCI_IN000002TR01" type="hl7:MCCI_IN000002TR01.Message"/>
			<xsd:element name="MCCI_IN000003TR01" type="hl7:MCCI_IN000003TR01.Message"/>
			<xsd:element name="QUQI_IN000001TR01" type="hl7:QUQI_IN000001TR01.Message"/>
			<xsd:element name="QUQI_IN000002TR01" type="hl7:QUQI_IN000002TR01.Message"/>
		</xsd:schema>
	</types>
	<message name="MCCI_IN000001TR01_Message">
		<part name="Body" element="hl7:MCCI_IN000001TR01"/>
	</message>
	<message name="MCCI_IN000002TR01_Message">
		<part name="Body" element="hl7:MCCI_IN000002TR01"/>
	</message>
	<message name="MCCI_IN000003TR01_Message">
		<part name="Body" element="hl7:MCCI_IN000003TR01"/>
	</message>
	<message name="QUQI_IN000001TR01_Message">
		<part name="Body" element="hl7:QUQI_IN000001TR01"/>
	</message>
	<message name="QUQI_IN000002TR01_Message">
		<part name="Body" element="hl7:QUQI_IN000002TR01"/>
	</message>
	<portType name="MCCI_AR000001TR_PortType">
		<operation name="MCCI_AR000001TR_MCCI_IN000001TR">
			<input message="hl7:MCCI_IN000001TR01_Message" wsa:Action="urn:hl7-org:v3:MCCI_IN000001TR01"/>
			<output message="hl7:MCCI_IN000002TR01_Message" wsa:Action="urn:hl7-org:v3:MCCI_IN000002TR01"/>
		</operation>
		<operation name="MCCI_AR000001TR_MCCI_IN000003TR">
			<input message="hl7:MCCI_IN000003TR01_Message" wsa:Action="urn:hl7-org:v3:MCCI_IN000003TR01"/>
			<output message="hl7:MCCI_IN000002TR01_Message" wsa:Action="urn:hl7-org:v3:MCCI_IN000002TR01"/>
		</operation>
		<operation name="MCCI_AR000001TR_QUQI_IN000001TR">
			<input message="hl7:QUQI_IN000001TR01_Message" wsa:Action="urn:hl7-org:v3:QUQI_IN000001TR01"/>
			<output message="hl7:QUQI_IN000002TR01_Message" wsa:Action="urn:hl7-org:v3:QUQI_IN000002TR01"/>
		</operation>
	</portType>
	<binding name="MCCI_AR000001TR_Binding" type="hl7:MCCI_AR000001TR_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="MCCI_AR000001TR_MCCI_IN000001TR">
			<soap:operation soapAction="urn:hl7-org:v3:MCCI_IN000001TR01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="MCCI_AR000001TR_MCCI_IN000003TR">
			<soap:operation soapAction="urn:hl7-org:v3:MCCI_IN000003TR01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="MCCI_AR000001TR_QUQI_IN000001TR">
			<soap:operation soapAction="urn:hl7-org:v3:QUQI_IN000001TR01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	  <service name="MCCI_AR000001TR_Service">
		    <port name="MCCI_AR000001TR_Port" binding="hl7:MCCI_AR000001TR_Binding">
			      <soap:address location="http://ws.sagliknet.saglik.gov.tr/BebekCocukBeslenme/services/MCCI_AR000001TR_Service"/>
			      <wsa:EndpointReference>
				        <wsa:Address>http://ws.sagliknet.saglik.gov.tr/BebekCocukBeslenme/services/MCCI_AR000001TR_Service</wsa:Address>
			      </wsa:EndpointReference>
		    </port>
	  </service>
</definitions>