docs/MSVS/Doğum Bildirim/POCD_MT000401TR01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000401TR01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
*
*  Bu xml şema içerisindeki veri türleri USBS projesi çerçevesinde
*  hazırlanan tool ile sabitlenmiştir.
*
*  USBS XSD Düzenleyici v1.0
* 
*  Vestel Birim Datasel Ortaklığı
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.1.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
	<xs:include schemaLocation="../coreschemas/USBSVoc.xsd"/>
	<xs:include schemaLocation="../CMET/COCT_MT000001TR01.xsd"/>
	<xs:include schemaLocation="../CMET/COCT_MT000002TR01.xsd"/>
	<xs:include schemaLocation="../CMET/COCT_MT000003TR01.xsd"/>
	<xs:complexType name="POCD_MT000401TR01.AssignedAuthor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.1"/>
							<xs:attribute name="extension" type="st-tckimlik" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.AssignedCustodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedHealthcareOrganization" type="POCD_MT000401TR01.HealthcareOrganization" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="time">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="assignedAuthor" type="POCD_MT000401TR01.AssignedAuthor" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.Component1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="structuredBody" type="POCD_MT000401TR01.StructuredBody" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="cs" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="nullificationDataset" type="POCD_MT000401TR01.NullificationDataset" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="cs" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.Component3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="nullificationReasonSection" type="POCD_MT000401TR01.NullificationReasonSection" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="cs" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.Custodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedCustodian" type="POCD_MT000401TR01.AssignedCustodian" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.HealthcareOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.6"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ENT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.MinisteryOfHealth">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.6"/>
							<xs:attribute name="extension" type="st" use="required" fixed="5881"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.NullificationDataset">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.4"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="DOKUMANIPTAL"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.2"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veriseti"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Doküman İptal Veriseti"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text"/>
			<xs:element name="component" type="POCD_MT000401TR01.Component3" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.NullificationReasonSection">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.5"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="DOKUMANIPTALNEDENI"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.3"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veri Kısmı"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Doküman İptal Nedeninin Olduğu Bölüm"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.NullifyDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.3"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="USBS_DokumanTipi_code" use="required" fixed="DOKUMANIPTAL"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.1"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Döküman Tipi"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="USBS_DokumanTipi_displayName" use="required" fixed="Doküman İptal"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="effectiveTime">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="confidentialityCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.77"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Gizlilik"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : languageCode alanı üzerinde kısıtlamalar yapıldı-->
			<xs:element name="languageCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="tr-TR"/>
							<xs:attribute name="codeSystem" type="uid" use="prohibited"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="displayName" type="st" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : versionNumber alanı üzerinde kısıtlamalar yapıldı-->
			<xs:element name="versionNumber">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="INT">
							<xs:attribute name="value" type="int" use="required" fixed="1"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="recordTarget" type="POCD_MT000401TR01.RecordTarget" minOccurs="1" maxOccurs="1"/>
			<xs:element name="author" type="POCD_MT000401TR01.Author" minOccurs="1" maxOccurs="1"/>
			<xs:element name="custodian" type="POCD_MT000401TR01.Custodian" minOccurs="1" maxOccurs="1"/>
			<xs:element name="primaryInformationRecipient" type="POCD_MT000401TR01.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
			<xs:element name="replacementOf" type="POCD_MT000601TR.ReplacementOf" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="POCD_MT000401TR01.Component1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000601TR.ParentDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.3"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="USBS_DokumanTipi_code" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.1"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Döküman Tipi"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="USBS_DokumanTipi_displayName" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="versionNumber" type="INT" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.PrimaryInformationRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="recipient" type="POCD_MT000401TR01.Recipient" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRCP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.Recipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedMinisteryOfHealth" type="POCD_MT000401TR01.MinisteryOfHealth" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="patient" type="COCT_MT000001TR01.Patient" minOccurs="1" maxOccurs="1"/>
				<xs:element name="babyPatient" type="COCT_MT000002TR01.BabyPatient" minOccurs="1" maxOccurs="1"/>
				<xs:element name="statelessPatient" type="COCT_MT000003TR01.StatelessPatient" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000601TR.ReplacementOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="parentDocument" type="POCD_MT000601TR.ParentDocument" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RPLC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000401TR01.StructuredBody">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="component" type="POCD_MT000401TR01.Component2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCBODY"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
</xs:schema>
