src/Web References/WebReference_Muayene/POCD_MT000401TR01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd" />
  <xs:include schemaLocation="../coreschemas/USBSVoc.xsd" />
  <xs:include schemaLocation="../CMET/COCT_MT000001TR01.xsd" />
  <xs:include schemaLocation="../CMET/COCT_MT000002TR01.xsd" />
  <xs:include schemaLocation="../CMET/COCT_MT000003TR01.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="POCD_MT000401TR01.AssignedAuthor">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.1" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.AssignedCustodian">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="representedHealthcareOrganization" type="POCD_MT000401TR01.HealthcareOrganization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.Author">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="time">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="assignedAuthor" type="POCD_MT000401TR01.AssignedAuthor" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="optional" />
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.Component1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="structuredBody" type="POCD_MT000401TR01.StructuredBody" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="cs" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.Component2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="nullificationDataset" type="POCD_MT000401TR01.NullificationDataset" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="cs" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.Component3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="nullificationReasonSection" type="POCD_MT000401TR01.NullificationReasonSection" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute fixed="true" name="contextConductionInd" type="cs" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.Custodian">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedCustodian" type="POCD_MT000401TR01.AssignedCustodian" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="CST" name="typeCode" type="ParticipationType" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.HealthcareOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.6" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ENT" name="classCode" type="EntityClass" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.MinisteryOfHealth">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.1.6" name="root" type="uid" use="required" />
              <xs:attribute fixed="5881" name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ORG" name="classCode" type="EntityClass" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.NullificationDataset">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.4" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="DOKUMANIPTAL" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.2" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veriseti" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Doküman İptal Veriseti" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="text" type="StrucDoc.Text" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000401TR01.Component3" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.NullificationReasonSection">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.5" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="DOKUMANIPTALNEDENI" name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.3" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Veri Kısmı" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Doküman İptal Nedeninin Olduğu Bölüm" name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="text" type="StrucDoc.Text" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.NullifyDocument">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.3" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="DOKUMANIPTAL" name="code" type="USBS_DokumanTipi_code" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.1" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Döküman Tipi" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute fixed="Doküman İptal" name="displayName" type="USBS_DokumanTipi_displayName" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="effectiveTime">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="confidentialityCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.77" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Gizlilik" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="languageCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute fixed="tr-TR" name="code" type="cs" use="required" />
              <xs:attribute name="codeSystem" type="uid" use="prohibited" />
              <xs:attribute name="codeSystemName" type="st" use="prohibited" />
              <xs:attribute name="codeSystemVersion" type="st" use="prohibited" />
              <xs:attribute name="displayName" type="st" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="versionNumber">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="INT">
              <xs:attribute fixed="1" name="value" type="int" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="recordTarget" type="POCD_MT000401TR01.RecordTarget" />
      <xs:element minOccurs="1" maxOccurs="1" name="author" type="POCD_MT000401TR01.Author" />
      <xs:element minOccurs="1" maxOccurs="1" name="custodian" type="POCD_MT000401TR01.Custodian" />
      <xs:element minOccurs="1" maxOccurs="1" name="primaryInformationRecipient" type="POCD_MT000401TR01.PrimaryInformationRecipient" />
      <xs:element minOccurs="1" maxOccurs="1" name="replacementOf" type="POCD_MT000601TR.ReplacementOf" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000401TR01.Component1" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCCLIN" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000601TR.ParentDocument">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element name="id">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="II">
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.1.3" name="root" type="uid" use="required" />
              <xs:attribute name="extension" type="st" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
              <xs:attribute name="assigningAuthorityName" type="st" use="prohibited" />
              <xs:attribute name="displayable" type="bl" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="code">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="USBS_DokumanTipi_code" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.2.2.1" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Döküman Tipi" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="USBS_DokumanTipi_displayName" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="versionNumber" type="INT" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCCLIN" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.PrimaryInformationRecipient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="recipient" type="POCD_MT000401TR01.Recipient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="PRCP" name="typeCode" type="ParticipationType" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.Recipient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="representedMinisteryOfHealth" type="POCD_MT000401TR01.MinisteryOfHealth" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.RecordTarget">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="patient" type="COCT_MT000001TR01.Patient" />
        <xs:element minOccurs="1" maxOccurs="1" name="babyPatient" type="COCT_MT000002TR01.BabyPatient" />
        <xs:element minOccurs="1" maxOccurs="1" name="statelessPatient" type="COCT_MT000003TR01.StatelessPatient" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="RCT" name="typeCode" type="ParticipationType" use="optional" />
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000601TR.ReplacementOf">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="parentDocument" type="POCD_MT000601TR.ParentDocument" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="RPLC" name="typeCode" type="ActRelationshipType" use="optional" />
  </xs:complexType>
  <xs:complexType name="POCD_MT000401TR01.StructuredBody">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="component" type="POCD_MT000401TR01.Component2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="DOCBODY" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
</xs:schema>