src/Web References/WS1549YasKadinIzlem/COCT_MT000003TR01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT000003TR01.StatelessPatient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="patientStatelessPerson" type="COCT_MT000003TR01.StatelessPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="PAT" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT000003TR01.StatelessPerson">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="PN">
              <xs:sequence>
                <xs:choice minOccurs="2" maxOccurs="2">
                  <xs:element minOccurs="1" maxOccurs="1" name="family" type="en.family" />
                  <xs:element minOccurs="1" maxOccurs="1" name="given" type="en.given" />
                </xs:choice>
                <xs:element minOccurs="0" name="validTime" type="IVL_TS" />
              </xs:sequence>
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="birthTime">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="TS">
              <xs:attribute name="value" type="ts" use="required" />
              <xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="raceCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:restriction base="CV">
              <xs:attribute name="code" type="cs" use="required" />
              <xs:attribute fixed="2.16.840.1.113883.3.129.1.2.52" name="codeSystem" type="uid" use="required" />
              <xs:attribute fixed="Uyruk" name="codeSystemName" type="st" use="required" />
              <xs:attribute fixed="1.0" name="codeSystemVersion" type="st" use="required" />
              <xs:attribute name="displayName" type="st" use="required" />
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional" />
  </xs:complexType>
</xs:schema>