docs/MSVS/Aşı/POCD_MT000217TR01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000217TR01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.1.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  
*  Bu xml şema içerisindeki veri türleri USBS projesi çerçevesinde
*  hazırlanan tool ile sabitlenmiştir.
*
*  USBS XSD Düzenleyici v1.0
* 
*  Vestel Birim Datasel Ortaklığı
********************************************************************************************************************
		-->
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
	<xs:include schemaLocation="../coreschemas/USBSVoc.xsd"/>
	<xs:complexType name="POCD_MT000217TR01.AssignedAuthor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.1"/>
							<xs:attribute name="extension" type="st-tckimlik" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.AssignedCustodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedHealthcareOrganization" type="POCD_MT000217TR01.HealthcareOrganization"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Author1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="time">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="assignedAuthor" type="POCD_MT000217TR01.AssignedAuthor"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Author2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="time">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="doctor" type="POCD_MT000217TR01.Doctor"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Baby">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="administrativeGenderCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.21"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Cinsiyet"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="birthTime">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="multipleBirthOrderNumber" type="INT"/>
			<xs:element name="guardian" type="POCD_MT000217TR01.Guardian"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.BabyPatientRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patientBaby" type="POCD_MT000217TR01.Baby"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Component1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="structuredBody" type="POCD_MT000217TR01.StructuredBody"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="vaccineDataset" type="POCD_MT000217TR01.VaccineDataset"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Component3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="vaccineSection" type="POCD_MT000217TR01.VaccineSection"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Component4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="vaccineInfo" type="POCD_MT000217TR01.VaccineInfo"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Custodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedCustodian" type="POCD_MT000217TR01.AssignedCustodian"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Doctor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id" maxOccurs="2">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Guardian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="MTH"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.5.111"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="RoleCode"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Mother"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="guardianMother" type="POCD_MT000217TR01.Mother"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUARD"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.HealthcareOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.6"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ENT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.MinisteryOfHealth">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.6"/>
							<xs:attribute name="extension" type="st" use="required" fixed="5881"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Mother">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.1"/>
							<xs:attribute name="extension" type="st-tckimlik" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.ParentDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.3"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="USBS_DokumanTipi_code" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.1"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Döküman Tipi"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="USBS_DokumanTipi_displayName" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="versionNumber" type="INT" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Patient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--
					USBS projesi çerçevesinde kullanılan PersonName türü için prefix, suffix ve delimiter kullanımına izin verilmemektedir
					PN alanı sadece ad, ikinci ad ve soyadı alacak hale çevirildi.
				-->
			<xs:element name="name">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="PN">
							<xs:sequence>
								<xs:choice minOccurs="2" maxOccurs="2">
									<xs:element name="family" type="en.family" minOccurs="1" maxOccurs="1"/>
									<xs:element name="given" type="en.given" minOccurs="1" maxOccurs="1"/>
								</xs:choice>
								<xs:element name="validTime" type="IVL_TS" minOccurs="0"/>
							</xs:sequence>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="administrativeGenderCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.85"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Cinsiyet (Resmi)"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="birthTime">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="raceCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.52"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Uyruk"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.PatientRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.1.1"/>
							<xs:attribute name="extension" type="st-tckimlik" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="patient" type="POCD_MT000217TR01.Patient"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.PrimaryInformationRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="recipient" type="POCD_MT000217TR01.Recipient"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRCP"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Recipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedMinisteryOfHealth" type="POCD_MT000217TR01.MinisteryOfHealth"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="babyPatientRole" type="POCD_MT000217TR01.BabyPatientRole"/>
				<xs:element name="patientRole" type="POCD_MT000217TR01.PatientRole"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.ReplacementOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="parentDocument" type="POCD_MT000217TR01.ParentDocument" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RPLC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.StructuredBody">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="component" type="POCD_MT000217TR01.Component2"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCBODY"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.Vaccine">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.3"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="USBS_DokumanTipi_code" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.1"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Döküman Tipi"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="USBS_DokumanTipi_displayName" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : TS veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="effectiveTime">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="confidentialityCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.77"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Gizlilik"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : languageCode alanı üzerinde kısıtlamalar yapıldı-->
			<xs:element name="languageCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="tr-TR"/>
							<xs:attribute name="codeSystem" type="uid" use="prohibited"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="displayName" type="st" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : versionNumber alanı üzerinde kısıtlamalar yapıldı-->
			<xs:element name="versionNumber">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="INT">
							<xs:attribute name="value" type="int" use="required" fixed="1"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="recordTarget" type="POCD_MT000217TR01.RecordTarget"/>
			<xs:element name="author" type="POCD_MT000217TR01.Author1"/>
			<xs:element name="custodian" type="POCD_MT000217TR01.Custodian"/>
			<xs:element name="primaryInformationRecipient" type="POCD_MT000217TR01.PrimaryInformationRecipient"/>
			<xs:element name="replacementOf" type="POCD_MT000217TR01.ReplacementOf" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="POCD_MT000217TR01.Component1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.VaccineDataset">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.4"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="ASI"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.2"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veriseti"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Aşı Veriseti"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text"/>
			<xs:element name="author" type="POCD_MT000217TR01.Author2"/>
			<xs:element name="component" type="POCD_MT000217TR01.Component3"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.VaccineInfo">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.78"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.1.2.54"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Aşı"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
	<xs:complexType name="POCD_MT000217TR01.VaccineSection">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<!--USBS XSD Düzenleyici v1.0 : II veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="id">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.1.5"/>
							<xs:attribute name="extension" type="st" use="required"/>
							<xs:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--USBS XSD Düzenleyici v1.0 : CV veri türünde alanlar üzerinde kısıtlamalar yapıldı-->
			<xs:element name="code">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="ASI"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.3.129.2.2.3"/>
							<xs:attribute name="codeSystemName" type="st" use="required" fixed="Veri Kısmı"/>
							<xs:attribute name="codeSystemVersion" type="st" use="required" fixed="1.0"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Aşı Bilgilerinin Olduğu Bölüm"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text"/>
			<xs:element name="component" type="POCD_MT000217TR01.Component4" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<!--USBS XSD Düzenleyici v1.0 : Fazladan eklenmiş olan nullFlavor kaldırıldı-->
	</xs:complexType>
</xs:schema>